* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

// ===========================

$color-main: #63B6C1;

// ======================

.TodoApp {
  max-width: 575px;
  width: 100%;
  margin: 0 auto;
  background: $color-main;
  padding: 15px;
  position: relative;
  min-height: 100vh;

  header {
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
    letter-spacing: 5px;
    font-weight: 700;
  }

  footer {
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
  }

  &-List {
    margin-bottom: 2rem;

    h3 {
      margin-bottom: 1rem;
    }
  }

  &-AddBtn {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 2.4rem;
    border-radius: 50%;
    color: $color-main;
  }
}

.TodoItem {
  width: 100%;
  padding: 15px;
  background: #fff;
  border-radius: 12px;
  cursor: pointer;

  & + & {
    margin-top: 1rem;
  }

  &-completed {
    text-decoration: line-through;
  }
}

// Modal

.Modal {
  background: $color-main;
  box-shadow: 0 0 10px rgba($color: #000, $alpha: .2);
  padding: 27px 15px 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1020;
  max-width: 100%;
  margin: auto;

  &-hide {
    display: none;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 3rem;
    width: 22px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    height: 22px;
    border: none;
    cursor: pointer;
    background: none;
  }

  &-content {
    margin-top: 40px;

    input {
      width: 100%;
      padding: 15px;
      font-size: 1.6rem;
      border: none;
      background: rgba($color: #fff, $alpha: .2);

      &::placeholder {
        color: #333;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;

    .btn {
      padding: 8px 15px;
      font-size: 1.6rem;

      + .btn {
        margin-left: 1rem;
      }
    }
  }
}

.btn-green {
  background: #28A745;
  color: #fff;
  border: none;
}

.btn-red {
  background: #D63447;
  color: #fff;
  border: none;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #E5E5E5;
}